-c requirements.txt
pytest
nbval
nbqa
black[jupyter]
isort
flake8
pre-commit
frictionless
jupyterlab-code-formatter
rdflib > 6.0.1 # To avoid problems with rdflib-json
rocrate
giturlparse
requests
python-dotenv
gitpython